.embed {
  display: inline-grid;
  grid-template-columns: auto min-content;
  border-left: 4px solid #202225;
  border-radius: 4px;
  background: #2f3136;
  padding: 8px 16px 8px 12px;
  max-width: 520px;
  box-sizing: border-box;
}

.embed .mention {
  background-color: #3B416F;
  color: #C0C3E2;
  padding: 0px 2px;
  transition: 50ms ease-out;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 500;
}
.embed .mention:hover {
  color: #fff;
  background-color: #5D6AF2;
}

.embed .author {
  grid-column: 1/1;
  display: flex;
  align-items: center;
}

.embed .author .image {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  object-fit: contain;
  border-radius: 50%;
}

.embed .author .name {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.embed .author a.name { color: #00AFF4 }

.embed .title {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
  grid-column: 1/1;
}
.embed a.title { color: #00AFF4 }

.embed .description {
  margin-top: 8px;
  grid-column: 1/1;
  font-size: 14px;
  line-height: 18px;
}

.embed .fields {
  display: grid;
  grid-gap: 8px;
  margin-top: 8px;
  grid-column: 1/1;
}

.embed .field .name {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 2px;
}

.embed .field .value {
  font-size: 14px;
  line-height: 1.125rem;
}

.embed .footer {
  display: flex;
  align-items: center;
  grid-column: 1/1;
  margin-top: 8px;
}

.embed .footer .image {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  object-fit: contain;
  border-radius: 50%;
}

.embed .footer .text {
  font-size: 12px;
  font-weight: 500;
}

.embed .footer .text .separator::before {
  content: "•";
  margin: 0px 4px;
  display: inline-block;
}

.embed > .image {
  display: block;
  max-width: 400px;
  max-height: 300px;
  object-fit: contain;
  margin-top: 16px;
  border-radius: 4px;
}

.embed .thumbnail {
  display: block;
  border-radius: 4px;
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
  grid-row: 1/8;
  grid-column: 2/2;
  justify-self: end;
  margin-left: 16px;
  margin-top: 8px;
}



.discord {
  overflow-x: auto;
  background-color: #36393f;
  font-family: 'Roboto', sans-serif;
  color: #dcddde;
  padding: 4px 0px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 1px #000;
  transition: .2s;
}

.discord a {
  color: #00AFF4;
  text-decoration: none;
}
.discord a:hover {
  text-decoration: underline;
}

.discord .message {
  position: relative;
  margin-top: 17px;
  padding: 2px 48px 2px 72px;
}

.discord .message:hover {
  background-color: #32353b;
}

.discord .message .avatar {
  position: absolute;
  left: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1;
}

.discord .message .header {
  color: #72767d;
}
.discord .message .header .username {
  margin-right: 4px;
  font-weight: 500;
}
.discord .message .header .timestamp {
  font-size: 12px;
  margin-left: 4px;
}

.discord .message .content {
  margin: 2px 0px 4px;
}

.discord .message .content img {
  display: block;
  max-width: 400px;
  max-height: 300px;
  object-fit: contain;
  border-radius: 4px;
}

.discord .message .header .bot::before {
  height: 15px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  bottom: 3px;
  font-size: 9px;
  font-weight: 500;
  content: "BOT";
  margin-right: 4px;
  color: #fff;
  background-color: #5865F2;
  border-radius: 3px;
  padding: 2px 4px;
}
