html {
  --bg-dark: #222;
  --bg-mid: #333;
  --bg-light: #444;

  --txt-main: #eee;
  --txt-contrast: #fff;

  --leaf-main: #4c2;
  --leaf-contrast: #5f3;

  --puck-main: #a079b2;
  --puck-contrast: #edc068;

  --bea-main: #cf76a6;
  --bea-contrast: #ab346a;
}

h1,h2,p,ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
h1 {
  color: var(--leaf-contrast);
  font-size: 128px;
}
h2 {
  color: var(--txt-contrast);
  font-size: 64px;
}

a {
  color: var(--txt-main);
  text-decoration: none;
}
a:hover {
  text-shadow: 2px 0px #000, 0px 2px #000, -2px 0px #000, 0px -2px #000, 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000;
}

body {
  text-shadow: 1px 0px #000, 0px 1px #000, -1px 0px #000, 0px -1px #000;
  background-color: var(--bg-dark);
  color: var(--txt-main);
  font-family: 'Chewy';
  margin: 0px;
  padding: 0px;
}

#puck {
  position: fixed;
  top: 96px;
  right: 64px;
}
#puck a {
  display: block;
  width: 242px;
  height: 402px;
  position: relative;
  background-image: url(../assets/puckfull.png);
  background-repeat: no-repeat;
  animation: puck 4s ease-in-out infinite;
}
@keyframes puck {
  0% {top: 16px}
  50% {top: -16px}
  100% {top: 16px}
}

main {
  font-size: 32px;
}

.intro {
  padding: 96px;
}

.intro a {
  color: var(--leaf-main);
}

.fa-leaf {
  font-size: 16px;
  vertical-align: 3px;
  color: var(--leaf-contrast);
}
.fa-circle {
  font-size: 12px;
  vertical-align: 5px;
}

.project {
  padding: 64px 96px;
  box-sizing: border-box;
}

.beatrice {
  background-image: linear-gradient(60deg, #00000000 50%, var(--bea-main) calc(50% + 1px)), url(../assets/beabored.jpg);
  background-size: cover;
  background-position: center center, -30vw center;
}

.beatrice h2 {
  color: var(--bea-contrast);
}
.beatrice a {
  color: var(--bea-main);
}


.puck h2 {
  color: var(--puck-contrast);
}
.puck a {
  color: var(--puck-main);
}