body {
  --text-light: #fff;
  --text-main: #d8d8d8;
  --text-darker: #ccc;
  --text-dark: #888;
  --bg-light: #333;
  --bg-main: #222;
  --bg-dark: #121212;

  color: var(--text-main);
  background-color: var(--bg-main);
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

.nav-open {
  position: fixed;
  top: 16px;
  left: 16px;
  display: block;
  width: 32px;
  height: 32px;
  text-align: center;
  cursor: pointer;
  font-size: 32px;
  color: #fff;
  transition: .25s;
  z-index: 10;
  text-shadow: 2px 2px 4px #000;
}
.nav-open.active {
  transition: .25s;
  left: 272px;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}



/* 
  _  _          
 | \| |__ ___ __
 | .` / _` \ V /
 |_|\_\__,_|\_/ 
                
*/

nav {
  width: 256px;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--bg-dark);
  position: fixed;
  top: 0px;
  left: -256px;
  z-index: 10;
  box-shadow: 0px 0px 5px 2px #000;
  transition: .25s;
  overflow: auto;
}
nav.active {
  left: 0px;
  transition: .25s;
}

.nav-spacer {
  height: 16px;
}

.nav-link {
  font-size: 32px;
  display: block;
  padding: 4px;
  color: var(--text-light);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  background-image: linear-gradient(var(--bg-main), var(--bg-main));
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: .2s;
}
.nav-link:hover,
.nav-link.active {
  background-size: 100% 100%;
  transition: .2s;
}
.nav-link.active {
  cursor: default;
}



/* 
  __  __      _      
 |  \/  |__ _(_)_ _  
 | |\/| / _` | | ' \ 
 |_|  |_\__,_|_|_||_|
                     
*/

main {
  width: 100%;
  margin: 0px;
  margin-top: 48px;
  padding: 0px;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
}



.page {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0;
  transition: .2s;
}

.page.active {
  z-index: 1;
  opacity: 1;
  transition: .2s;
}



/* 
  _  _               
 | || |___ _ __  ___ 
 | __ / _ \ '  \/ -_)
 |_||_\___/_|_|_\___|

*/

#page-home {
  padding: 32px;
}

.page-home-title {
  font-size: 64px;
  color: var(--text-light);
  margin-bottom: 64px;
  text-align: center;
}

.page-home-about {
  max-width: 75%;
  min-height: 256px;
  margin: 32px auto;
  padding: 16px 32px;
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
  top: 0px;
  box-shadow: 0px 0px 2px 4px #000;
  background-color: #0000007f;
  text-shadow: 2px 2px 2px #000;
}

.page-home-about::before {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-image: url('../assets/genshin-stars.png');
  background-size: 100% auto;
  z-index: -1;
  filter: blur(2px);
}

.page-home-about-image {
  float: right;
  width: 192px;
  height: 192px;
  margin: 4px;
  position: relative;
  top: 0;
  z-index: 0;
}

.page-home-about-image::before {
  content: "";
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px; 
  background-image: conic-gradient(#000, #3aa63f, #a8d47a, #fff, #000, #810081, #810081, #fff, #000);
  background-size: 100% auto;
  border-radius: 50%;
  z-index: -1;
}

.page-home-about-title {
  color: var(--text-light);
  margin-bottom: 8px;
}

.page-home-about-text {
  font-size: 20px;
}
.page-home-about-text br.p {
  content: "";
  margin-top: .5em;
  display: block;
}



/* 
  ___          _        _      
 | _ \_ _ ___ (_)___ __| |_ ___
 |  _/ '_/ _ \| / -_) _|  _(_-<
 |_| |_| \___// \___\__|\__/__/
            |__/               
*/

#page-projects {
  padding: 32px 0px;
}

.page-projects-title {
  font-size: 64px;
  color: var(--text-light);
  text-align: center;
}

.page-projects-grid {
  width: max-content;
  max-width: 100%;
  display: grid;
  grid-template: 1fr / 1fr;
  grid-gap: 64px;
  margin: 0px auto;
  padding: 32px;
  box-sizing: border-box;
}

.page-projects-card {
  max-width: 512px;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 4px #000;
  transition: .25s;
  border-radius: 4px;
}
.page-projects-card:hover {
  box-shadow: 0px 0px 8px 4px #000;
  transform: scale(1.05);
  transition: .25s;
}

.page-projects-card-content {
  display: grid;
  grid-template: auto 1fr 64px / 1fr;
  background-color: #0000007f;
  box-shadow: 0px 0px 2px 3px #0000007f;
  border-radius: 2px;
}

.page-projects-card-title {
  font-size: 32px;
  color: var(--text-light);
}

.page-projects-card-text {
  transition: .25s;
  font-size: 20px;
}

.page-projects-card-button {
  display: block;
  width: 128px;
  height: 32px;
  margin: 16px auto;
  padding: 4px 0px;
  box-sizing: border-box;
  color: var(--text-light);
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border: 2px solid var(--text-light);
  background-image: linear-gradient(90deg, rgba(255,255,255,0) 25%, rgba(255,255,255,0.25), rgba(255,255,255,0) 75%);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: 200% 50%;
  border-radius: 4px;
}
.page-projects-card-button:hover {
  background-position: -100% 50%;
  transition: .5s ease;
}

.project-frost {
  background-image: url('../assets/frostbyte.png');
  background-size: cover;
  background-position: center;
}

.project-uwu {
  background-image: url('../assets/uwu.jpg');
  background-size: cover;
  background-position: center;
}



/* 
   ___         _           _   
  / __|___ _ _| |_ __ _ __| |_ 
 | (__/ _ \ ' \  _/ _` / _|  _|
  \___\___/_||_\__\__,_\__|\__|
*/

#page-contact {
  padding: 32px;
  min-width: min-content;
}

.page-contact-title {
  font-size: 64px;
  color: var(--text-light);
  text-align: center;
}

.page-contact-grid {
  max-width: 768px;
  margin: 32px auto;
  box-shadow: 0px 0px 2px 2px #000;
}

.page-contact-grid-item {
  display: block;
  padding: 8px;
  font-size: 48px;
  font-weight: bold;
  color: var(--text-light);
  text-shadow: 1px 1px 2px #000;
  text-decoration: none;
  white-space: nowrap;
  background-image: url('../assets/genshin-gang.jpeg');
  background-size: auto 600%;
  transition: .2s;
}
.page-contact-grid-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 2px 3px #000;
  transition: .2s;
}



@media only screen and (min-width: 720px) {
  .page-projects-grid {
    grid-template: 1fr / 1fr 1fr;
    padding: 32px 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .page-projects-grid {
    grid-template: 1fr / 1fr 1fr 1fr;
    padding: 32px 96px;
    grid-gap: 96px;
  }
}



:not(span).bg-rainbow {
  position: relative;
  overflow: hidden;
}
:not(span).bg-rainbow::before {
  content: "";
  position: absolute;
  width: 2000%;
  height: 2000%;
  top: -450%;
  left: -950%;
  z-index: -1;
  background-image: conic-gradient(
    hsl(360, 100%, 50%),
    hsl(315, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(225, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(135, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(45, 100%, 50%),
    hsl(0, 100%, 50%)
  );
  animation: rainbow 10s linear infinite;
}
@keyframes rainbow {
  0%{transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}

.text-bg {
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.text-bg-wrapper {
  background-color: inherit;
  color: transparent;
}

span.bg-rainbow {
  background-image: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: text-rainbow 18s ease infinite;
}
@keyframes text-rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}



.icon.twitter {
  color: #55acee;
}
.icon.reddit {
  color: #ff4500;
}
.icon.discord {
  color: #7289DA;
}
.icon.github {
  color: var(--text-light);
}