include common.pug

doctype html

html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='style.css')
    title Leaf

  body 
    main.vertical
      #title.box
        h1.paws Leaf
        h4 Yet another trans girl developer

      #about.horizontal
        #info.box.vertical
          h4 #[+feather('calendar').inline] 22 y/o
          h4 #[+feather('tag').inline] #[a(href='https://en.pronouns.page/@leaf.moe' target='_blank') she/her]
          h4.
            #[+feather('flag').inline]
            #[img(src='assets/trans.svg' alt='transgender flag').inline]
          h4#socials
            +feather('at-sign').inline
            | &nbsp;
            a(href='https://github.com/aroleaf' target='_blank' title='GitHub')
              +feather('github').inline
            a(href='https://bsky.app/profile/leaf.moe' target='_blank' title='BlueSky')
              svg(height='1em' width='1em' stroke='currentColor').feather.inline
                use(href='assets/bluesky.svg#logo')
      
        #intro.box.vertical
          p.
            #[span.bold Heya, I'm Leaf!] I am a software developer, and I love going out into nature and making music.
            #[br] #[br]
            Most of my projects are related to web development, but I do all kinds of things, like creating my own programming language.

      //- #projects.vertical
      //-   h2 Projects
    
    footer
      p#credits.
        title font: #[a(href='https://www.dafont.com/cat-paw.font' target='_blank') Cat Paw] |
        icon pack: #[a(href='https://feathericons.com/' target='_blank') Feather]