html {
  --fg: #fff;
  --bg: #222;

  --red: #933;
  --yellow: #993;
  --green: #693;
  --blue: #369;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0px;
  padding: 0px;
}

.green {
  color: var(--green);
}

img.inline {
  height: 1em;
  vertical-align: -0.125em;
}

a {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}


body {
  margin: 0px;
  padding: 32px;
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Chewy';
}
body::selection {
  background-color: var(--blue);
}

main {
  max-width: 1280px;
  width: fit-content;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
}


.banner {
  font-size: 64px;
}


.about {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px 16px;
}

.about p {
  font-size: 32px;
}

.about :nth-child(2n+1) {
  text-align: end;
}

.about .tools {
  font-size: 32px;
}

.about .tools > * {
  user-select: none;
  margin: 0px 2px;
}

.socials {
  font-size: 32px;
  display: flex;
  gap: 8px;
}

.socials a {
  color: var(--fg);
}

.socials a:hover {
  filter: brightness(0.75);
}


.projects {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.projects h2 {
  font-size: 48px;
}

.projects h3 {
  font-size: 32px;
}

.projects p {
  font-size: 24px;
}

.projects .tabs {
  position: relative;
}

.projects .tab {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .15s;
  z-index: -1;
}

.projects .tab.active {
  opacity: 1;
  z-index: initial;
}

.projects .tab .header {
  display: flex;
  margin-bottom: 8px;
}

.projects .tab .header p {
  border-bottom: 2px solid var(--fg);
  padding: 0px 12px;
  font-size: 32px;
  cursor: pointer;
  transition: opacity .1s;
}

.projects .tab.active .header p.green,
.projects .tab .header p:hover {
  color: var(--green);
  border-color: var(--green);
}