html {
  --fg: #fff;
  --bg: #222;

  --red: #933;
  --yellow: #993;
  --green: #693;
  --blue: #369;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0px;
  padding: 0px;
}

.green {
  color: var(--green);
}

img.inline {
  height: 1em;
  vertical-align: -0.125em;
}

a {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}


body {
  margin: 0px;
  padding: 32px;
  background-color: var(--bg);
  font-family: 'Poppins';
  font-weight: 600;
  color: var(--fg);
}
body::selection {
  background-color: var(--blue);
}

main {
  max-width: 1024px;
  width: fit-content;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
}


.banner {
  font-size: 64px;
  font-family: 'Chewy';
}


.about {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px 16px;
}

.about p {
  font-size: 24px;
}

.about :nth-child(2n+1) {
  text-align: end;
}

.about .tools {
  font-size: 24px;
}

.about .tools > * {
  user-select: none;
  margin: 0px 2px;
}

.socials {
  font-size: 24px;
  display: flex;
  gap: 8px;
}

.socials a {
  color: var(--fg);
  transition: .15s;
}

.socials a:hover {
  filter: brightness(0.75);
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h2 {
  font-size: 48px;
}

.projects .title {
  font-size: 24px;
  display: flex;
  gap: 8px;
}

.project .title a {
  color: var(--fg);
  transition: .15s;
}
.project .title a:hover {
  filter: brightness(0.75);
}

.project .description {
  font-size: 20px;
}

.projects hr {
  width: 100%;
  color: var(--green);
}