html {
  --bg-dark: #222;
  --bg-mid: #333;
  --bg-light: #444;

  --txt-main: #eee;
  --txt-contrast: #fff;

  --leaf-main: #4c2;
  --leaf-contrast: #5f3;
}

h1,h2,p,ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
h1 {
  color: var(--leaf-contrast);
  font-size: 128px;
}
h2 {
  color: var(--txt-contrast);
  font-size: 64px;
}

a {
  color: var(--leaf-main);
  text-decoration: none;
}
a:hover {
  text-shadow: 2px 0px #000, 0px 2px #000, -2px 0px #000, 0px -2px #000, 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000;
}

body {
  text-shadow: 1px 0px #000, 0px 1px #000, -1px 0px #000, 0px -1px #000;
  background-color: var(--bg-dark);
  color: var(--txt-main);
  font-family: 'Chewy';
  margin: 0px 0px;
  padding: 0px;
}

main {
  max-width: 768px;
  margin: 0px auto;
  padding: 64px 96px;
  font-size: 32px;
}

.focus {
  color: var(--leaf-main);
}

.intro {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 48px;
}

.intro .key {
  color: var(--leaf-main);
}

.intro .icon {
  vertical-align: -4px;
}

.fa-leaf {
  font-size: 16px;
  vertical-align: 3px;
  color: var(--leaf-contrast);
}
.fa-circle {
  font-size: 12px;
  vertical-align: 5px;
}



@media screen and (max-width: 540px) {
  main {
    font-size: 24px;
    padding: 32px;
  }
  .intro {
    padding: 0px;
    grid-template-columns: 1fr;
  }
  .intro .icon {
    height: 24px;
    vertical-align: -3px;
  }
  .fetchimage {
    display: none;
  }
}



.image-outline {
  filter: drop-shadow(1px 0px #000)
          drop-shadow(0px 1px #000)
          drop-shadow(-1px 0px #000)
          drop-shadow(0px -1px #000);
}