.banner.vertical.centered
  h1 Leaf
  h3 Just some random developer
  .horizontal.centered
    a(href='#bio').button About me
    label(for='page-projects').button My projects

.horizontal
  .box#bio
    h2 Info
    h4 #[+feather('calendar').key.inline] 20 y/o
    h4 #[+feather('tag').key.inline] #[a(href='https://pronouns.page/@leaf.moe', target='_blank') they/them]
    h4.
      #[+feather('flag').key.inline]
      #[img(src='assets/aro.svg' alt='aromantic').inline] #[a(href='https://www.lgbtqia.wiki/wiki/Aromantic' target='_blank') aromantic #[+feather('external-link').inline]]
      and #[img(src='assets/ace.svg' alt='asexual').inline] #[a(href='https://www.lgbtqia.wiki/wiki/Asexual' target='_blank') asexual #[+feather('external-link').inline]]

  .box#socials
    h2 Socials
    h4.
      #[svg(height='1em' width='1em' stroke='currentColor').key.inline: use(href='assets/discord.svg#logo')]
      #[a(href='https://discord.gg/UtE44fCG8m' target='_blank') Discord #[+feather('external-link').inline]]
    h4.
      #[+feather('twitter').key.inline]
      #[a(href='https://twitter.com/leaf_moe' target='_blank') Twitter #[+feather('external-link').inline]]
    h4.
      #[+feather('github').key.inline]
      #[a(href='https://github.com/aroleaf' target='_blank') Github #[+feather('external-link').inline]]

#about
  h2 About me
  h3
  p.
    #[b Hello! I am Leaf, a software developer with a passion for touching grass.]
  p.
    When I was 12 years old I wanted to make my own Minecraft mod, so I started learning Java, and I've been developing software ever since.
    I have experience with many different programming languages, and am even writing my own very weird and unoptimized language.
  p.
    When my head's too full and I need to get away from my desk for a while, I like to go cycling through nature, often stopping to just sit down and relax.
    Despite my love for nature, I actually know surprisingly little about it, and I want to learn more about different kinds of plants and trees at some point.
  p.
    Another one of my interests is playing sandbox games. I've been playing Minecraft since 2012, and have recently started playing Trailmakers, a game mostly focused around vehicle building.
  p.
    An even older passion of mine is music. I've been playing different keyboard instruments like pipe organ and piano since I was 7 years old, and love to compose my own songs.
    Maybe I'll even upload some of them publicly, if I ever make any I think are good enough for that.