h2 Current Projects
#projects
  .box
    h3 Psithurism
    p A programming language focused around the idea that everything is a function that can take and return any number of arguments.
    .horizontal.centered
      a(href='https://github.com/aroleaf/psithurism' target='_blank').button Github #[+feather('github').inline]
      a(href='https://www.npmjs.com/package/psithurism' target='_blank').button NPM #[+feather('package').inline]
      a(href='https://psithurism.leaf.moe' target='_blank').button Docs #[+feather('book').inline]

  .box
    h3 Spacetraders SDK
    p The SDK I'm using to play #[a(href='https://spacetraders.io' target='_blank') SpaceTraders #[+feather('external-link').inline]], an API-based space exploration game.
    .horizontal.centered
      a(href='https://github.com/aroleaf/spacetraders-lib' target='_blank').button Github #[+feather('github').inline]
      a(href='https://www.npmjs.com/package/@aroleaf/spacetraders' target='_blank').button NPM #[+feather('package').inline]
  
  .box
    h3 This Website
    p The website you're on right now was written using only HTML and CSS. That's right, this website uses NO Javascript for all its fancy features!
    .horizontal.centered
      a(href='https://github.com/aroleaf/aroleaf' target='_blank').button Github #[+feather('github').inline]